<!DOCTYPE HTML>
<html>
  <head>
    <title>42 Coffee Cups Test Assignment</title>
  </head>
  <body>
      <h1>First Requests</h1>
      <table>
          {% for request in requests %}
          <tr>
            <td>
            {{request.url}} {{request.priority}}
            </td>
            <td>
                <form method="POST"
                      action="{% url 'requests_view' %}">
                    <input type="submit" name="up" value='Up'/>
                    <input type="hidden" id="request_id" name="request_id"
                           value="{{request.id}}"/>
                    <input type="hidden" id="action" name="action"
                           value="1"/>
                </form>
            </td>
            <td>
                <form method="POST"
                      action="{% url 'requests_view' %}">
                    <input type="submit" name="down" value='Down'/>
                    <input type="hidden" id="request_id" name="request_id"
                           value="{{request.id}}"/>
                    <input type="hidden" id="action" name="action"
                           value="-1"/>
                </form>
            </td>
          </tr>
          {% endfor %}
      </table>
  </body>
</html>
